.fondo {
    position: relative;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
    
.chibi1 {
    width: 100px;
    height: 100px;
    background-image: url('/images/anubis.png');
    animation: run 1s steps(12) infinite, animacion1 10s infinite;
}

.chibi2 {
    width: 100px;
    height: 100px;
    background-image: url('/images/succubus.png');
    animation: run 1s steps(12) infinite, animacion1 8s infinite;
}

.chibi3 {
    width: 100px;
    height: 100px;
    background-image: url('/images/hell-knight.png');
    animation: run 1s steps(12) infinite, animacion1 9s infinite;
}

.chibi4 {
    width: 100px;
    height: 100px;
    background-image: url('/images/old-guy.png');
    animation: run 1s steps(12) infinite, animacion1 15s infinite;
}

.chibi5 {
    width: 100px;
    height: 100px;
    background-image: url('/images/pirate.png');
    animation: run 1s steps(12) infinite, animacion1 12s infinite;
}

@keyframes run  {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1200px;
    }
    
}
@keyframes animacion1 {
    0% {
        transform: translateX(-1000px);
    }

    25% {
        transform: translateX(0px);
    }

    75% {
        transform: translateX(800px);
    }
    100% {
        transform: translateX(1800px);
        
    }
    
}