.general {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tablero {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
  margin: 20px auto;
  background-color: green;
}

.casilla {

  border: 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s;
}

.topo {
    width: 80px;
    height: 80px;
    background-image: url('/images/diglett.png');
    background-size: cover;
    cursor: pointer;
    animation: salirTopo 0.5s ;
}

.topo:hover{
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: red;
}

.noTopo{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.contador{
    background-color:green;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

@keyframes salirTopo{
    0%{
        width: 0px;
        height: 0px;
    }
    100%{
        width: 80px;
        height: 80px;
    }
}