<div class="general">
    <div class="tablero">
        @for (t of tablero;let i = $index; track i) {
        <div class="casilla">
            @if (t==true) {
                <div class="topo" (click)="mataTopo(i)"></div>
            } @else {
                <!-- El método fallo solo fuciona al escribir algo dentro del div -->
                <div class="noTopo" (click)="fallo()"></div>
            }
        </div>
        }
    </div>

    <div class="contador">
        {{contador}}
        @if(contador === 25) {
            {{hasGanado()}}
        }
    </div>
</div>