.card {
  height: 350px;
  width: 125px;
  border: 2px solid #444;
  padding: 15px;
  border-radius: 8px;
  align-items: center;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  display: block;
}

.estrellas {
  font-size: 1.3rem;
  color: gold;
}