.general {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;   
  padding: 10px;
  gap: 16px;
  justify-content: center;
  align-items: center;
}