.general {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.semaforo {
    display: grid;
    justify-content: center;
    background-color: gray;
    flex-direction: column;
    height: 300px;
    width: 150px;
    border: solid 2px;
    padding: 3px;
}

.circulo {
    display: grid;
    height: 90px;
    width: 125px;
    border-radius: 50%;
    border: solid 1px;

}

.red {
    background-color: red;
}

.amber {
    background-color:yellow;
}

.green {
    background-color: green;
}

.black {
        background-color: black;
}

.puntos {
    display: grid;
    justify-content: center;
    height: 20px;
    width: 25px;
    border: solid 1px;
    background-color: white;
}